In [1]:
import pandas as pd
import numpy as np

In [2]:
capacity_factors_daily_2000to2015 = pd.read_hdf('../data/04_feature/capfactors-daily-2000-2015.hdf', 
                                                key='capfactors')

display( capacity_factors_daily_2000to2015.head(3) )
display( type(capacity_factors_daily_2000to2015) )
display( type(capacity_factors_daily_2000to2015.columns) )

,DE145,DE114,DE146,DE132,DE12A,DE133,DE12C,DE11C,DE118,DE119,...,DEG0L,DEG0P,DEG0D,DEG0N,DEG07,DEG0C,DEG0E,DEG02,DEG01,DEG0F
2014-01-01,0.105504,0.120715,0.105763,0.112506,0.306820,0.138233,0.250441,0.151488,0.064307,0.156760,...,0.327960,0.181078,0.078909,0.097571,0.012504,0.130887,0.072789,0.223790,0.074466,0.133061
2014-01-02,0.264246,0.222057,0.134959,0.335359,0.495802,0.364030,0.430609,0.252739,0.319303,0.340911,...,0.397997,0.363181,0.282969,0.200704,0.096889,0.358683,0.132292,0.292186,0.233564,0.228235
2014-01-03,0.466549,0.384076,0.207144,0.307441,0.503259,0.330716,0.457802,0.424766,0.278102,0.336414,...,0.332027,0.402473,0.315166,0.246040,0.093716,0.415542,0.113907,0.247346,0.256401,0.292804

pandas.core.frame.DataFrame

pandas.core.indexes.base.Index

In [3]:
colidx = pd.MultiIndex.from_product(
    [
        capacity_factors_daily_2000to2015.columns,
        ['power']
    ],
    names=['nuts_id', 'var'])

df_temporal = capacity_factors_daily_2000to2015.copy(deep=False)
df_temporal.columns = colidx
df_temporal.index.rename('date', inplace=True)

df_temporal.head(3)

nuts_id,DE145,DE114,DE146,DE132,DE12A,DE133,DE12C,DE11C,DE118,DE119,...,DEG0L,DEG0P,DEG0D,DEG0N,DEG07,DEG0C,DEG0E,DEG02,DEG01,DEG0F
var,power,power,power,power,power,power,power,power,power,power,...,power,power,power,power,power,power,power,power,power,power
date,,,,,,,,,,,,,,,,,,,,,
2014-01-01,0.105504,0.120715,0.105763,0.112506,0.306820,0.138233,0.250441,0.151488,0.064307,0.156760,...,0.327960,0.181078,0.078909,0.097571,0.012504,0.130887,0.072789,0.223790,0.074466,0.133061
2014-01-02,0.264246,0.222057,0.134959,0.335359,0.495802,0.364030,0.430609,0.252739,0.319303,0.340911,...,0.397997,0.363181,0.282969,0.200704,0.096889,0.358683,0.132292,0.292186,0.233564,0.228235
2014-01-03,0.466549,0.384076,0.207144,0.307441,0.503259,0.330716,0.457802,0.424766,0.278102,0.336414,...,0.332027,0.402473,0.315166,0.246040,0.093716,0.415542,0.113907,0.247346,0.256401,0.292804

In [4]:
df_spatial = centroids_positions = pd.read_hdf('../data/04_feature/power-centroids-positions-2000-2015.hdf', 
                                                key='power_centroids')

display( centroids_positions.head(3) )
display( type(centroids_positions) )
display( type(centroids_positions.columns) )
display( centroids_positions.shape )

nuts_id                 DEF0C                DEF08                 DEA43  \
coords                    lat       lon        lat        lon        lat
commissioning_date
1990-01-11          54.592251  9.398496  54.152187  10.523799  52.145711
1990-01-12          54.592251  9.398496  54.152187  10.523799  52.145711
1990-01-13          54.592251  9.398496  54.152187  10.523799  52.145711

nuts_id                           DEF07                DEA5B            ...  \
coords                   lon        lat       lon        lat       lon  ...
commissioning_date                                                      ...
1990-01-11          8.726981  54.465024  8.864279  51.489703  7.946714  ...
1990-01-12          8.726981  54.465024  8.864279  51.489703  7.946714  ...
1990-01-13          8.726981  54.465024  8.864279  51.489703  7.946714  ...

nuts_id                 DEA2C                DE221                 DE239  \
coords                    lat       lon        lat        lon        lat
commissioning_date
1990-01-11          50.657977  6.865151  48.533997  12.208994  49.526011
1990-01-12          50.657977  6.865151  48.533997  12.208994  49.526011
1990-01-13          50.657977  6.865151  48.533997  12.208994  49.526011

nuts_id                            DE21L                 DE715
coords                    lon        lat        lon        lat       lon
commissioning_date
1990-01-11          12.259649  47.985235  11.406016  49.454318  8.836523
1990-01-12          12.259649  47.985235  11.406016  49.454318  8.836523
1990-01-13          12.259649  47.985235  11.406016  49.454318  8.836523

[3 rows x 606 columns]

pandas.core.frame.DataFrame

pandas.core.indexes.multi.MultiIndex

(10187, 606)

In [14]:
# trimming spatial dataset for compatibility with temporal dataset
df_spatial = df_spatial.loc[df_temporal.index]

display( df_spatial.shape )
display( df_temporal.shape )

pd.to_hdf

(730, 606)

(730, 293)

In [11]:
df = pd.read_hdf('../data/05_model_input/spatio_temporal_df.hdf', 
                 key='spatiotemporal/df_spatial')

df.head(3)

KeyError: 'No object named spatiotemporal/df_spatial in the file'